<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/RideCiencias</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">Moonknight27</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="Modelo/Usuario.hbm.xml"/>
    <mapping resource="Modelo/Ruta.hbm.xml"/>
    <mapping resource="Modelo/Viaje.hbm.xml"/>
    <mapping resource="Modelo/Creacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
